<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gaml.google.play.review">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GooglePlayInAppReview"
            android:value="gaml.google.play.review.GooglePlayReviewPlugin" />
    </application>
</manifest>